<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Instalike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li class="icon"><%= link_to image_tag('header.png', { :size => '25x25', :alt => 'insta'}), root_path %></li>
      <li><%= link_to "POST", new_instalike_path %></li>
      <li><%= link_to "PICTURES", instalikes_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "MYPAGE", edit_user_registration_path %></li>
        <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "LOGIN", new_user_session_path %></li>
        <li><%= link_to "SIGNUP", new_user_registration_path %></li>
      <% end %>
      <li>
       <form class="navbar-form pull-left">
        <input type="text" class="span3" placeholder="Keyword">
        <button type="submit" class="btn">SEARCH</button>
       </form>
      </li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>©Copyright INSTUM Corp.</p>
  </footer>
</body>
</html>
